.loading-map {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
  height: 100vh;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100vw;
}

.loading-text {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to right, #dd1b16, #c82424);
  font-weight: 700;
  letter-spacing: calc(1em/8);
  padding: calc(1em/16);
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: calc(1em/16);
  margin-bottom: 16px;
}

// Animated Ring
.ring {
  --uib-size: 40px;
  --uib-speed: 2s;
  --uib-color: #dd1b16;
  
  height: var(--uib-size);
  width: var(--uib-size);
  vertical-align: middle;
  transform-origin: center;
  animation: rotate var(--uib-speed) linear infinite;
}

.ring circle {
  fill: none;
  stroke: var(--uib-color);
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: stretch calc(var(--uib-speed) * 0.75) ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes stretch {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dashoffset: -124px;
  }
}