.custom-popup-content {
  background-color: rgba(192, 61, 61, 0.1);
  border-radius: 5px;
  border: 1px solid #dd1b16;
  box-shadow: 0 0 0 0.2rem rgba(192, 61, 61, 0.1);
  padding: 10px;
  color: #dd1b16;
}