.map-container {
  height: 100vh;
  width: 100vw;
  
  position: fixed;
  right: 0px;
  right: 0px;
}

.custom-popup {
  background-color: red;
  border: 1px solid red;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}